<div class="container flex flex-col justify-end flex-1 w-full">
    <div class="container-wrapper px-6 w-5/6">
        <div class="adventure">
            <h2 class="capitalize text-white text-5xl font-bold">adventure <br> together</h2>
        </div>
        <div class="lorem text-white text-xs mt-8 inline-block">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem odio quo, fugit sint laboriosam veritatis quae
            nulla vitae deserunt odit architecto modi dicta esse maxime maiores!
        </div </div>
    </div>